@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .backgroundColor {
    background: linear-gradient(
      to right,
      #29cafe 0%,
      #b02aff 91%,
      #b02aff 91%,
      #b02aff 0%
    );
  }

  .textColor {
    background: linear-gradient(
      to right,
      #29cafe 0%,
      #b02aff 91%,
      #b02aff 91%,
      #b02aff 0%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
